---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test Registration.">
  <main>
    <h1>Register</h1>
    <form
      enctype="application/x-www-form-urlencoded"
      method="post"
      action="/api/auth/register"
    >
      <label>
        Email:
        <input type="email" name="email" required />
      </label>
      <label>
        Name:
        <input type="text" name="name" required />
      </label>
      <label>
        Password:
        <input type="password" name="password" required minlength="6" />
      </label>
      <button>Submit</button>
    </form>
  </main>
</Layout>
